body.index, html {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 100%;
  overflow-x: hidden;
 
}

#Home{
  font-size: xx-large;
}

.navbar {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: rgb(237, 123, 182);
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.navbar a:hover {
  color: white;
}

.right-side {
  display: flex;
}

 #photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.message {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  left: 15px;
  color: white;
}


.space{
  color: black
}
#name {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  text-align: center;
  color: rgb(233, 124, 179);
}

div.welcome {


text-align: center;
 
margin-top: 14%;
margin-left: 40%;
max-width: 20%;
padding: auto;

 }



 ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a.l1:hover{
  color: pink;
}
a.l2:hover{
  color: pink;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.flex-item {
  position: relative;
  flex: 1;
  max-width: 500px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.3s ease;
}

.image-container:hover img {
  opacity: 0.5; /* Darken the image on hover */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}

.image-container:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}


@media (max-width: 600px) {
  .navbar a {
      padding: 10px;
  }

  .flex-item {
      flex: 1 1 calc(100% - 40px);
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.padding-small { padding: 20px; }
        .padding-medium { padding: 30px; }
        .padding-large { padding: 50px; }


        .grid-container {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
          gap: 20px;
          padding: 20px;
      }
      
      .grid-item {
          padding: 10px;
          text-align: center;
      }
      
      video, img {
          width: 100%;
          height: auto;
          display: block;
      }

      .title {
        margin-top: 10px;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
    }

    a {
      color: rgb(233, 124, 179); /* Normal link color */
      text-decoration: none; /* Removes underline from links */
  }
  

  
  a:hover {
      color: white; /* Link color after it has been visited */
  }
  
  a:active {
      color: rgb(233, 124, 179); /* Link color when it's clicked */
  }
  
